<div class="post-list-container">
  <div class="post-list-header">
    <h2 class="post-list-title">Social Media Posts</h2>
    <button class="dashboard-button" *ngIf="isAdmin" (click)="goToDashboard()"><i class="fa-solid fa-chart-line"></i></button>
  </div>

  <!-- Show error message (if any) -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Wrap the p-table inside a container to apply scrolling and table styles -->
  <div class="post-list-table-container" *ngIf="posts?.data && posts.data.length > 0">
    <p-table
      class="post-list-table"
      [value]="posts.data"
      [paginator]="true"
      [rows]="itemsPerPage"
      [totalRecords]="totalItems"
      [lazy]="true"
      (onPage)="onPageChange($event)"
      responsiveLayout="scroll"
    >
      <!-- Table header columns -->
      <ng-template pTemplate="header">
        <tr>
          <th>Brand Name</th>
          <th>Vertical</th>
          <th>Platform</th>
          <th>Thumbnail</th>
          <th>Dimensions</th>
          <th>Concept</th>
          <th>Creative Type</th>
          <th>Sound</th>
          <th>Audience Age</th>
          <th>Audience Gender</th>
          <th>Audience Income</th>
          <th>Duration</th>
          <th>Views</th>
          <th>Comments</th>
          <th>Likes</th>
          <th>Shares</th>
          <th>Saves</th>
          <th>Language</th>
          <th>Call to Action</th>
          <th>Published At</th>
          <th>Content Tone</th>
          <th>Campaign Objective</th>
          <th>Created By</th>
        </tr>
      </ng-template>

      <!-- Table body rows -->
      <ng-template pTemplate="body" let-post>
        <tr (click)="selectPost(post.id)" class="clickable-row">
          <td>{{ post.brand.name }}</td>
          <td>{{ post.brand.vertical }}</td>
          <td>{{ post.platform }}</td>
          <td>
            <!-- If you actually have an image URL, replace post.thumbnail with <img [src]="post.thumbnail" alt="Thumbnail" /> -->
            {{ post.thumbnail }}
          </td>
          <td>{{ post.dimensions }}</td>
          <td>{{ post.concept }}</td>
          <td>{{ post.creativeType }}</td>
          <td>{{ post.sound }}</td>
          <td>{{ post.targetAudienceAge }}</td>
          <td>{{ post.targetAudienceGender }}</td>
          <td>{{ post.targetAudienceIncome }}</td>
          <td>{{ post.duration }}</td>
          <td>{{ post.views }}</td>
          <td>{{ post.comments }}</td>
          <td>{{ post.likes }}</td>
          <td>{{ post.shares }}</td>
          <td>{{ post.saves }}</td>
          <td>{{ post.language }}</td>
          <td>{{ post.callToAction }}</td>
          <td>{{ post.publishedAt | date }}</td>
          <td>{{ post.contentTone }}</td>
          <td>{{ post.campaignObjective }}</td>
          <td>{{ post.createdBy.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
