<div class="create-brand-container">
  <h1>Create New Brand</h1>
  <form #brandForm="ngForm" (ngSubmit)="onSubmit(brandForm)">
    <div class="form-group">
      <label for="name">Brand Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        [(ngModel)]="brand.name"
        required
      />
    </div>

    <div class="form-group">
      <label for="vertical">Vertical:</label>
      <select
        id="vertical"
        name="vertical"
        class="form-control"
        [(ngModel)]="brand.vertical"
        required
      >
        <option *ngFor="let v of verticals" [value]="v">{{ v }}</option>
      </select>
    </div>

    <!-- Add market like vertical-->
    <div class="form-group">
      <label for="market">Market:</label>
      <select
        id="market"
        name="market"
        class="form-control"
        [(ngModel)]="brand.market"
        required
      >
        <option *ngFor="let m of markets" [value]="m">{{ m }}</option>
      </select>
    </div>

    <!-- Add input socialMediaLink -->
    <div class="form-group">
      <label for="socialMediaLink">Social Media Link:</label>
      <input
        type="text"
        id="socialMediaLink"
        name="socialMediaLink"
        class="form-control"
        [(ngModel)]="brand.socialMediaLink"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="brandForm.invalid">
      Submit
    </button>
  </form>

  <p *ngIf="message" class="message">{{ message }}</p>
</div>
