/* You can add global styles to this file, and also import other style files */
$primary-color: #1d1d3b; // Dark blue background
$secondary-color: #ffffff; // White text
$accent-color: #4d4dff; // Light blue or glowing accents
$gradient: linear-gradient(90deg, #1d1d3b, #24246b);
$precision-grid: rgba(77, 77, 255, 0.03);
