$primary-color: #1d1d3b;
$secondary-color: #ffffff;
$accent-color: #A675F5;
$tech-grid-color: rgba(77, 77, 255, 0.05);
$glow-color: rgba(77, 77, 255, 0.2);
$error-color: #ff4d4d;
$peach-color: #F5B393;
$mint-color: #78E6D0;
$purple-color: #A675F5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
